body{
    font-family: 'Roboto Slab', serif;
    padding: 20px;
    margin: 80px;
}
h1{
    font-size: 50px;
    border-left: 4px solid rgb(243, 25, 25);
    padding-left: 15px;
}
h2{
    font-size: 40px;
    text-align: center;
}
.mission-color{
    color: orange;
}
.button{
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: rgb(243, 25, 25);
    padding: 15px;
    border-radius: 10px;
}
.first-page{
    display: flex;
    margin: 40px;
}
.half-width{
    width: 50%;
    text-align: justify;
}
.half-width img{
    width: 70%;
    margin-left: 100px;
}
.sec-page-width{
    display: flex;
    margin-bottom: 100px;
}
.sec-page-width img{
    width: 33.33%;
}
.sec-width-mission{
    background-color: paleturquoise;
    border-radius: 20px;
    margin: 15px 15px;
    padding: 15px;
}
.sec-width-vission{
    background-color: plum;
    border-radius: 20px;
    margin: 15px 15px;
    padding: 15px;
}
.sec-width-goals{
    background-color: slateblue;
    border-radius: 20px;
    margin: 15px 15px;
    padding: 15px;
}
.third-page{
    display: flex;
    width: 90%;
    margin-bottom: 100px;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 150px;
    background-position-y: 60px;
}
.third-page-first-width img{
    width: 70%;
    margin-left: 13%;
}
.third-page-sec-width{
    text-align: justify;
    margin-top: -45px;
}
h5{
    font-size: 40px;
}
.fourth-page{
    display: flex;
    width: 80%;
    margin-bottom: 100px;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 150px;
    background-position: right;
    background-position-y: 170px;
}
.fourth-page-sec img{
    width: 60%;
    margin-left: 110px;
}
footer{
    background-color: rgb(5, 5, 44);
    text-align: center;
    color: white;
    padding: 5px;
}
#footer-year{
    color: tomato;
}